@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
input[type="text"] {
  padding-left: 5px;
}
header {
  max-width: 100vw;
  height: 80px;
  box-shadow: 0 0 10px rgb(218, 218, 218);
  display: flex;
  justify-content: center;
}
.header__container {
  width: 80%;
}
.title {
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}
.title img {
  height: 60px;
  width: auto;
}
.title div {
  margin: 0 0 0 20px;
}
main {
  height: 90vh;
  max-width: 100vw;
}
.img-cont img {
  height: 100px;
  width: auto;
}
.main__container {
  padding: 20px;
  margin: 50px auto;
  height: 70%;
  width: 45vw;
  border-radius: 5px;
  border: 1px solid rgb(218, 218, 218);
  /* box-shadow: 0 0 10px rgb(218, 218, 218); */
  display: flex;
  justify-content: space-between;
}
.main__container-title {
  font-size: 24px;
  margin: 20px 0;
}
.calc-title {
  font-size: 18px;
  margin: 10px 0;
}
.calc__sideA-container,
.calc__sideB-container,
.calc__sidePi-container,
.calc__square-container {
  font-size: 22px;
  margin: 10px 0;
}
.calc__sideA-container input,
.calc__sideB-container input,
.calc__sidePi-container select {
  padding-left: 5px;
  height: 30px;
  width: 150px;
  font-weight: 400;
  font-size: 19px;
}
.calc__sideA-container select,
.calc__sideB-container select,
.calc__square-container select {
  height: 30px;
  width: 50px;
  font-size: 19px;
  font-weight: 400;
  margin-left: 5px;
}
.calc__btn-container button {
  border: 1px solid gray;
  background-color: white;
  height: 50px;
  font-size: 14px;
  border-radius: 5px;
  width: 60%;
  transition: all 0.3s ease;
}
.calc__btn-container button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(218, 218, 218);
}

.main__container-result {
  margin: 50px auto;
  height: 0%;
  width: 45vw;
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgb(218, 218, 218); */
  border: 1px solid rgb(218, 218, 218);
  transition: height 1s ease;
}
.result-title {
  font-size: 22px;
  margin: 10px 0;
}
.result {
  font-size: 18px;
  margin: 20px 0;
}
.result-content {
  padding: 20px;
  opacity: 0;
  transition: all 1.5s ease;
}
#blockTranslate {
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(218, 218, 218);
  display: none;
}

/* theory */
.gblock {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.main__contaier-theory {
  margin-top: 50px;
  width: 45vw;
}
.theory-tabs {
  margin-top: 1px;
  /* z-index: 1; */
  display: flex;
}
.theory-tabOne,
.theory-tabTwo {
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  transition: font-size 1s ease;
}
.theory-tabOne {
  border: 1px solid rgb(218, 218, 218);
}
.theory-tabTwo {
  margin-left: 1px;
  border: 1px solid rgb(218, 218, 218);
}
/* .theory-tabTwo{
    border: none;
} */
.theory-blocks {
  z-index: 1;
  background-color: white;
  padding: 10px;
  border-radius: 0 5px 5px 5px;
  border: 1px solid rgb(218, 218, 218);
  /* box-shadow: 0 0 10px rgb(218, 218, 218); */
  height: auto;
  /* margin: -.1px 0 20px 0; */
}
.theory-blockOne {
}
.theory-blockTwo {
  display: none;
}

/* media */
@media screen and (max-width: 1120px) {
  .gblock {
    display: grid;
    grid-template-columns: 1fr;
  }
  .main__contaier-theory {
    width: 90vw;
    margin-top: 100px;
  }
  .main__container {
    width: 90vw;
    display: block;
  }
  .main__container-result {
    width: 90vw;
  }
  .img-cont {
    display: flex;
    justify-content: center;
  }
  .img-cont img {
    margin-top: 20px;
  }
  .calc__btn-container button {
    width: 100%;
  }
}
